/* *{
    border: 1px solid black;
} */
body {
    padding: 0;
    margin: 0;
    font-family: calibri;
}

.container-page {
    display: flex;
    flex-direction: row;
    height: 150vh;
}

.container-navbar {
    background-color: rgb(255, 156, 35);
    color: white;
    float: left;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 250px;
    transition: 0.5s;
}

.aktif {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(65, 0, 0);
    font-weight: bold;
}

.navbar .navbar-title {
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.navbar .navbar-title span {
    margin-left: 5px;
    margin-right: 0px;
}

.navbar .navbar-title img {
    margin-right: 10px;
}

.nav-items {
    display: flex;
    justify-content: start;
    overflow: hidden;
    padding: 15px 0px 15px 23px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar .nav-items span {
    margin-left: 20px;
    white-space: nowrap;
    width: 100%;
}

.navbar .nav-items:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.navbar .sub-items-case {
    display: none;
    transition: 0.5s;
    border-bottom: 1px solid white;
}

.container-content {
    flex-grow: 1;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(255, 233, 217);
}

.nav-top-title {
    display: flex;
    flex-grow: 1;
    height: 80px;
}

.nav-top-title h3 {
    margin: auto;
}

.nav-top-logo,
.toggle-nav {
    display: flex;
    width: 100px;
    height: 80px;
}

.nav-top-logo-opsi {
    display: none;
    flex-direction: column;
    justify-content: start;
    color: white;
    position: absolute;
    float: right;
    width: 150px;
    background-color: rgb(255, 156, 35);
    top: 80px;
    padding-top: 5px;
}

.nav-top-logo-opsi .nav-items {
    padding-right: 30px;
}

.nav-top-logo-opsi span {
    margin-left: 30px;
}

.toggle-nav {
    cursor: pointer;
}

.toggle-nav svg {
    margin: auto;
}

.nav-top-logo img {
    margin: auto;
}



.main-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    height: calc(100vh - 100px);
}

.main-content .cards {
    flex-grow: 1;
    height: 300px;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}

.main-content .lg-card {
    flex-grow: 1;
    height: 300px;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    margin: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-flow: wrap row;
}

@media screen and (max-width: 800px) {
    .navbar {
        width: 70px;
    }

    .navbar .navbar-title span {
        padding-right: 15px;
        padding-left: 0px;
    }
}