.login-form {
    min-height: 100vh;
}

.bg-image {
    background-image: url('../images/Universitas_Teknokrat_Indonesia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.avatar {
    height: 150px;
    width: 150px;
    padding: 10px;
    background-color: tomato;
    border-radius: 100%;
}


.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: tomato;
    color: white;
}
