
body{
    font-family: calibri;
    padding: 0;
    margin: 0;
    background-image: url('/assets/images/Universitas_Teknokrat_Indonesia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container-form{
    display: flex;
    width: 50%;
    height: 100vh;
    float: right;
}
.form-case{
    display: flex;
    width: 350px;
    height: 600px;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(163, 163, 163);
    margin: auto;
}
.avatar-login{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 100%;
}
.title-form{
    font-weight: bold;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}
label{
    font-size: 16px;
    margin: 15px 10px 5px 0;
}
.username, .password, .submit{
    height: 45px;
    border-radius: 5px;
    padding: 3px 5px 0 15px;
    border: 0px;
    background-color: rgb(228, 228, 228);
    color: black;
    box-shadow: 0px 0px 5px rgb(144, 144, 144);
}

.submit{
    background-color: rgb(255, 178, 106);
    font-weight: bold;
    letter-spacing: 2px;
}
.submit:hover{
    cursor: pointer;
    
}

@media screen and (max-width: 900px) {
    .container-form{
        width: 100%;
    }
}